<div id="banner">
</div>
<p id="text-info-construction"><strong><span data-controller="typed-js"></span></strong></p>
<p id="text-info-cocktail">Bientôt il y aura un bus à cocktail sur les routes du Gros-de-Vaud</p>
